{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>

   <div class="main">

   <img src="{%static 'media/naythan1.jpeg'%}" alt="">

   <div class="overlay-text">
    <img src="{%static 'media/LOGOSKYLINE@3x.png'%}" alt="">
    </div>

</div>

<div class="navbar">
    <a href="#">Journal</a>
    <a href="{% url 'aboutus' %}">About Us</a>
    <a href="#">        .......        </a>
    <a href="#">Feedback</a>
    <a href="#">More</a>
</div>

<div class="float-container">

    <div class="float-child">
        <a href="https://www.youtube.com/@Skyline.Covers"><img src="{%static 'media/christopher2.jpeg'%}"  alt=""></a>
        <div class="overlay-text" style="margin-top: 100px;">
            <p>Youtube</p>
        </div>
       
    </div>
    
    <div class="float-child">
        <a href="https://www.instagram.com/skylinecovers.wav?igsh=MW15N2phZTA3Nm5leA%3D%3D&utm_source=qr"><img src="{%static 'media/tuner.jpeg'%}"  alt=""></a>
        <div class="overlay-text">
            <p>Instagram</p>
        </div>
       
    </div>
    
  </div>
  <div class="float-container">

    <div class="float-child">
        <a href="{%url 'aboutus' %}"><img src="{%static 'media/drum.jpg'%}" alt="" ></a>
        <div class="overlay-text" style="margin-top: 100px;">
            <p> Aboutus</p>
        </div>
       
    </div>
    
    <div class="float-child">
        <a href="https://linktr.ee/SkylineCovers"><img src="{%static 'media/naythan2.jpeg'%}"  alt=""></a>
        <div class="overlay-text">
            <p>Blogs</p>
        </div>
       
    </div>
    
  </div>


  


  <div class="youtube">

    <div class="text">
        Our Popular Videos:

    </div>

<iframe
width="315" height="560" src="https://youtube.com/embed/pR_0B-TGr38?si=s4liYc3LkbBPTMKq?autoplay=1" frameborder="0"
allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
allowfullscreen></iframe>


  </div>


  <footer>
<br>
    <div class="mainfoot">

       

 

        <div class="subfoot1">
            

         
      
    <div class="row1">
        <a href="https://www.youtube.com/@Skyline.Covers" class="fa fa-2x fa-youtube"></a>
        <a href="https://www.instagram.com/skylinecovers.wav?igsh=MW15N2phZTA3Nm5leA%3D%3D&utm_source=qr" class="fa fa-2x fa-instagram"></a>
        <a href="https://t.snapchat.com/AHecl5bT" class="fa fa-2x fa-snapchat-ghost"></a>
        <a href="https://pin.it/5u6yAnGST" class="fa fa-2x fa-pinterest"></a>
        <a href="https://www.facebook.com/profile.php?id=61556325330796&mibextid=opq0tG" class="fa fa-2x fa-facebook"></a>
        <a href="https://www.threads.net/@skylinecovers.wav" class="fa-brands fa-threads"></a>
        <a href="https://twitter.com/skylinecovers" class="fa fa-2x fa-twitter"></a>
        <a href="https://www.linkedin.com/company/skylinecovers-music/" class="fa fa-2x fa-linkedin"></a>

    </div>
   

</div>

</div>

<br>
<br><br>
<div class="row2">
    <a href="https://linktr.ee/SkylineCovers?utm_source=linktree_profile_share&ltsid=fe6966fb-6d81-4463-9d3e-1dc149c6b7ac">LinkTree</a>
</div>
   



  </footer>




</body>
</html>