html, body{


background-image: url("static/media/naythan1.jpeg");
}

.main{
margin: 0;
    padding: 0;
    overflow: hidden;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}


.main img{


width: max-content;
height: max-content;
margin-bottom: -450px;


}
.overlay-text {
    position: absolute;
    text-align: center;
    color: white; 
    margin-top: -120px;
    margin-left: -5px;
    z-index: 1;
}

.overlay-text img {
    width: 100px; 
    height: auto;
    max-width: 100%;
    max-height: 100%;
    border: 1px solid black;
}


.navbar {
        display: flex;
        position: absolute;
        justify-content: center;
        background-color: #ffffffe5;
        color: white;
        width: 100%;
        margin-left: -20px;
}

.navbar a {
        text-decoration: none;
        color: rgb(0, 0, 0);
        padding: 10px 20px;
        margin: 0 10px;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: lighter;
}

.container .box {
    margin-top: 100px;
    margin-left: 150px;
    width: 78%;
    font-family:Arial, Helvetica, sans-serif;
    display:table;
}

.container .box .box-row {
    display:table-row;
}

.container .box .box-cell {
    display:table-cell;
    width:25%;
    height: 600px;
    padding:10px;
}


.container .box .box-cell img{


    width: auto; 
    height: auto;
    max-width: 100%;
    max-height: 100%;
   


}

.container .box .box1{

padding-left: 50px;



}

.container .box .box2{

    padding-left: 70px;
    
    
    }

.overlay-text1 h4 {
        font-family:Arial, Helvetica, sans-serif;
        font-weight: 100;
}
    
.overlay-text1 a{
       
    font-weight: 100;
    text-decoration: none;
    color: white;
}


.overlay-text1 {
        position: absolute;
        text-align: center;
        color: white; 
        margin-top: -500px;
        margin-left: 100px;
        z-index: 1;
}

.overlay-text2{


    position: absolute;
    text-align: center;
    color: white; 
    margin-top: -400px;
    margin-left: 100px;
    z-index: 1;


    
}


.float-container {
    padding: 20px;
    margin-top: 80px;
    margin-left: 210px;

}

.float-child {
    width: 40%;
    overflow: hidden;
    height: 300px;
    float: left;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

.float-child img{

    max-width: 100%; /* Ensure images don't exceed the width of the container */
    height: auto;
    display: block;
    margin: 0 auto; /* Center the images horizontally */
    margin-bottom: 10px; 


}

.float-child p{
    width: 200px;
    position: absolute;
    text-align: center;
    color: white;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 34px;

}



.youtube {
    position: relative;
    height: 200px;
    width: 100%;/* 16:9 aspect ratio */
    overflow: hidden;
    padding-bottom: 57.78%; 

}

.youtube iframe {
    margin-left: 350px;
    margin-top: 100px;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
}

.mainfoot{


display: flex;


}

.subfoot{

    flex: 50%;

text-align: center;


}


.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  

  .fa-instagram {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 30px;
}
  

  .fa-twitter {
    background: #55acee00;
    color: rgb(239, 239, 239);
    font-size: 30px;
  }

  .fa-youtube {
    background: #201d1d02;
    color: white;
    font-size: 30px;
  }
  
  /* Twitter */
  .fa-snapchat-ghost {
    background: #55acee00;
    color: rgb(255, 255, 255);
    font-size: 30px;
  }


  .fa-facebook{

    background: #55acee00;
    color: rgb(255, 255, 255);
    font-size: 30px;

  }

  .fa-pinterest{
    background: #55acee00;
    color: rgb(255, 255, 255);
    font-size: 30px;
  }
  .fa-linkedin{

    background: #55acee00;
    color: rgb(255, 255, 255);
    font-size: 30px;

  }


  footer{

background-color: rgba(0, 0, 0, 0.847);
height: 260px;



  }


  footer h1{
    font-size: 20px;
    font-weight: 100;
    padding: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;



  }



  .subfoot .overlay-text1{

    color: white; 
    width: 100px;
    margin-top: 40px;
    

  }


  .subfoot .overlay-text1 img {
    width: 100px; 
    height: auto;
    max-width: 100%;
    max-height: 100%;
    
}
.subfoot  h1 {
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 100;
   margin-top: 30px;
   margin-left: -140px;
   
    
}


.subfoot p{
    margin-top: -20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    margin-left: -140px;
    color: white;
     
 }

 .subfoot .subfoot1{

    margin-left: 140px;

 }
  

.mainfoot .subfoot1{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 350px;

}



 .text{
    font-size: larger;

    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
 }



 .row2 a{

display: flex;
justify-content: center;
align-items: center;
font-family: Arial, Helvetica, sans-serif;
font-weight: 100;
font-size: 24px;
color: white;


 }








